.slider {
    overflow: hidden;
    position: relative;
    margin: auto;
    max-width: 500px;
}

.slides-collection {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.single-slide {
    flex: 0 0 100%;
    max-width: 100%;
}

.slide-image {
    display: inline-block;
    height: auto;
    max-width: 100%;
}